.hour-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

@media screen and (max-width: 1100px) {
    .hour-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 990px) {
    .hour-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 770px) {
    .hour-container {
        grid-template-columns: 1fr 1fr;
    }
}